<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ title }}</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
    </style>

</head>

<body>
<form action="" method="post" class="form">
    {{ form.hidden_tag() }}
    <div class="form_header">
            <h1><b>Verk</b></h1>
    </div>
    <div class="form_item">
		<p>
			<label for="description">Описание: </label>
			{{ form.description(class="form-control", type="label") }}<br>
			{% for error in form.description.errors %}
				<p class="alert alert-danger" role="alert">
					{{ error }}
				</p>
			{% endfor %}
		</p>
    </div>
    <div class="form_item">
    <p>
        <label for="users">Пользователи: </label>
        {{ form.users(class="form-control", type="label") }}<br>
        {% for error in form.users.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    </div>
    <div class="form_item">
        <p>
        <label for="project">Проект: </label>
        {{ form.project(class="form-control", type="date") }}<br>
        {% for error in form.project.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
        </div>
    <div class="form_item">
    <p><button type="submit" value="Log in">Add task</button>}</p>
    </div>
	<div>{{ message }}</div>
</form>
</body>
</html>