<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{title}}</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css"/>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

    </style>
    <link rel="icon" type="image/png" href="/favicons/folder.png"/>

</head>

<body>
{% extends "base.html" %}
{% block content %}
<div class="viewport">
    <div class="columns">
        <div class="project_view_content">
            <h2>{{year_now}} {{months[dates[0][0] - 1]}} {{dates[0][1]}} ꟷ {{dates[-1][2]}} {{months[dates[-1][0] - 1]}} {{dates[-1][1]}}</h2>
            <div class="large_calendar">
                <div class="week_header">
                    {% for i in range(weekday, weekday + 7) %}
                    <div class="day">
                        <h4>{{days[i%7]}}</h4>
                    </div>
                    {% endfor %}
                </div>
                {% for i in range(6) %}
                <div class="week">
                    {% for j in range(7) %}
                    <div class="day">
                        <h4><a href="/agenda/{{id}}/{{7 * i + j}}">{{dates[7 * i + j][1]}}</a></h4>
                        <p>
                        <h1>{{len(tasks[i * 7 + j])}}</h1></p>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="project_info">
            {% if curday == 0 %}
            <p>
            <h1>Выберите день</h1></p>
            {% else %}
            <h2>{{months[curmonth - 1]}} {{curday}}</h2>
            <h3>Задачи</h3>
            <div class="control_panel">
                <button type="submit" onclick="window.location.href='/adding_task/{{id}}';" value="add_new">Добавить задачу</button>
            </div>
            <div class="todo_list">
                {% if not len(tasks[curdate]) %}
                <p><b>На сегодня нет дел</b></p>
                {% else %}

                {% for i in range(len(tasks[curdate])) %}
                <div class="todo">
                    <label class="task_tick"><input type="checkbox"
                                                    value="value-1"><span>{{tasks[curdate][i]}}</span></label>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
</body>

</html>