<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{title}}</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
    </style>
</head>

<body>
      {% extends "base.html" %}
    {% block content %}
  <div class="viewport">
    <div id="content">
       <h1>Notifications</h1>
      <div class="pic_table">
      <table>
          <colgroup>
             <col span="3" style="background:#102040"><!-- С помощью этой конструкции задаем цвет фона для первых двух столбцов таблицы-->

         </colgroup>
         <tr>
           <td>8:30 12/03/2023</td>
           <td><img src="/static/profile_pics/profile_pic_blue.png"> Alice T.</td>
           <td>Created a new doc</td>
         </tr>
         <tr>
           <td>8:30 12/03/2023</td>
           <td><img src="/static/profile_pics/profile_pic_pink.png"> Alice T.</td>
           <td>Created a new doc</td>
         </tr>
      </table>
    </div>
    </div>
    
  </div>
{% endblock %}
</body>


</html>