<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{title}}</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
    </style>
</head>
<body>
{% extends "base.html" %}
{% block content %}
<div class="viewport">
        <div class="profile_info">
            <h1>Account info</h1>

            <h4>Name and surname:</h4>
            <p>Billy Smith</p>

            <h4>Profile picture:</h4>
            <img src="profile_pics/profile_pic_peach.png">

            <h4>Date of birth:</h4>
            <p>18th of August 2003</p>

            <h4>Email:</h4>
            <p>something@example.com</p>

            <h4>Phone number:</h4>
            <p>+1 234 567-89-00</p>

            <h4>Bio:</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <button type="submit" onclick="window.location.href='https://verk.lexyzhuravleva.repl.co/profile_view.html';" value="add_new">Edit your info</button>
            <button type="submit" onclick="window.location.href='https://verk.lexyzhuravleva.repl.co/login.html';" value="add_new">Log out</button>
        </div>
    </div>
{% endblock %}
</body>
</html>