{% extends "base.html" %}
{% block content %}
<div class="viewport">
         <div class="user_info">
            <div class="user_wallpaper">
                <img src="/static/favicons/k.jpg">
            </div>
            <div class="name_and_picture">
                <img src={{list_of_avatars[avatar]}}>
                <div class="data_info">
                    <h1>{{name}}</h1>
                </div>
            </div>
        </div>
        <div class="profile_info">
            <h4>Date of birth:</h4>
            <p>{{birth_date}}</p>

            <h4>Email:</h4>
            <p>{{email}}</p>

            <h4>Phone number:</h4>
            <p>{{phone}}</p>

            <h4>Bio:</h4>
            <p>{{bio}}</p>
        </div>
</div>
{% endblock %}
</body>
</html>