<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{title}}</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
    </style>
</head>
<body>
{% extends "base.html" %}
{% block content %}
<div class="viewport">
        <div class="profile_info">
            <h1>Ваш профиль</h1>

            <h4>Имя:</h4>
            <p>{{name}}</p>

            <h4>Аватар:</h4>
            <img src={{list_of_avatars[avatar]}}>

            <h4>Дата рождения:</h4>
            <p> </p>

            <h4>Email:</h4>
            <p>{{email}}</p>

            <h4>Номер телефона:</h4>
            <p>{{phone}}</p>

            <h4>О себе:</h4>
            <p> </p>

            <button type="submit" onclick="window.location.href='/profile_edit/{{id}}';" value="add_new">Редактировать профиль</button>
            <button type="submit" onclick="window.location.href='/';" value="add_new">Выйти из аккаунта</button>
        </div>
    </div>
{% endblock %}
</body>
</html>