<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{title}}</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
    </style>
</head>
<body>
{% extends "base.html" %}
{% block content %}
<form action="" method="post" class="form">
    {{ form.hidden_tag() }}
    <div class="form_header">
            <h1><b>Verk</b></h1>
    </div>
    <div class="form_item">
       <p>
        <label for="email">Email edit: </label>
        {{ form.email(class="form-control", type="email", placeholder=form.email.description) }}<br>
        {% for error in form.email.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    </div>
    <div class="form_item">
         <label for="name">Name edit:</label>
        {{ form.name(class="form-control", placeholder=form.name.description) }}<br>
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    </div>
    <div class="form_item">
         <label for="phone">Phone edit: </label>
        {{ form.phone(class="form-control", placeholder=form.phone.description)}}<br>

        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    </div>
    <div class="form_item">
         <label for="birth_date">Birth date edit: </label>
        {{ form.birth_date(class="form-control",  placeholder=form.birth_date.description) }}<br>
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    </div>
    <div class="form_item">
         <label for="bio">Biography edit: </label>
        {{ form.bio(class="form-control", placeholder=form.bio.description) }}<br>
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    </div>
    <div class="form_item">
        <p>
        <label for="password">Редактировать пароль: </label>
        {{ form.password(class="form-control", type="password") }}<br>
        {% for error in form.password.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    </div>
    <div class="form_item">
    <p>
        <label for="password">Подтвердить пароль: </label>
        {{ form.password_again(class="form-control", type="password") }}<br>
        {% for error in form.password_again.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
            </div>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}
</body>
</html>