<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends "base.html" %}
{% block content %}
<div class="viewport">
    <div class="project_view_header">
        <h2>{{title}}</h2>
        <div class="collaborators">
            {% for collaborator in collaborators %}
            <div class="collaborator">
                <img src={{collaborator['img']}}>
            </div>
            {% endfor %}
        </div>
        <div class="control_panel">
            <button onClick='location.href="/project_edit/{{project_id}}"'>Edit project</button>
        </div>

    </div>
    <div class="columns">
        <div class="project_view_content">
            <h3>{{year_now}} {{months[dates[0][0] - 1]}} {{dates[0][1]}} ꟷ {{dates[-1][2]}} {{months[dates[-1][0] - 1]}}
                {{dates[-1][1]}}</h3>
            <div class="large_calendar">
                <div class="week_header">
                    {% for i in range(weekday, weekday + 7) %}
                    <div class="day">
                        <h4>{{days[i%7]}}</h4>
                    </div>
                    {% endfor %}
                </div>
                {% for i in range(6) %}
                <div class="week">
                    {% for j in range(7) %}
                    <div class="day">
                        <h4><a href="/project_view/{{project_id}}/{{7 * i + j}}">{{dates[7 * i + j][1]}}</a>
                        </h4>
                        <p>
                        <h1>{{len(tasks[i * 7 + j])}}</h1>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
            <h3>Tasks</h3>
            <div class="todo_list">

                {% if curday == 0 %}
                <h1>Выберите день</h1>
                {% else %}
                <h2>{{months[curmonth - 1]}} {{curday}}</h2>
                <h3>Задачи</h3>
                <div class="control_panel">
                    <button type="submit" onclick="window.location.href='/adding_task/{{curdate}}';" value="add_new">Добавить
                        задачу
                    </button>
                </div>
                <div class="todo_list">
                    {% if not len(tasks[curdate]) %}
                    <p><b>На сегодня нет дел</b></p>
                    {% else %}

                    {% for task in tasks[curdate] %}
                    <div class="todo">
                        <a href="{{url_for('project_view.task_edit', task_id=task['id'])}}" >{{task['description']}}</a>
                        <a>: {{task['status']}}</a>
                    </div>

                    {% endfor %}
                    {% endif %}
                </div>
                {% endif %}


            </div>
        </div>
        <div class="project_info">
            <div class="project_description">
                <h3>Обложка проекта</h3>
                <img src={{img}}>
                <h3>Описание</h3>
                <p>{{description}}</p>
                <h3>Коллеги</h3>
                <div class="list_of_collaborators">
                    {% for collaborator in collaborators %}
                    <div class="linar_collaborator">
                        <img src={{collaborator['img']}}>
                        <a href="{{url_for('profile.profile1', user_id=collaborator['id'])}}" ><p>{{collaborator['name']}}</p></a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>