<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{title}}</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css"/>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

    </style>
</head>

<body>
{% extends "base.html" %}
{% block content %}
<div class="viewport">
    <h1>Проекты</h1>
    <div class="control_panel">
                <button type="submit" onclick="window.location.href='/adding_project';" value="add_new">Добавить проект</button>
    </div>
    <div class="sheet">
        {% for i in range(len // 4 + 1) %}
        <div class="row">
            {% for item in projects[i * 4:i * 4 + 4] %}
            <div class="card">
                <div class="card_cover">
                    <img src={{item["img"]}}>
                </div>
                <a onclick="window.location.href='/project_view/{{item['id']}}';">{{item["title"]}}</a>
                <p>{{item['description']}}</p>
                <div class="collaborators">
                    <div class="small_user">
                        <img src="">
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}
</body>

</html>