{% extends "base.html" %}

{% block content %}

    <div class="viewport">
        <div class="project_view_header">
            <h2>Presentation</h2>
            <div class="collaborators">
                <div class="collaborator">
                    <img src="profile_pics/profile_pic_violet.png">
                </div>
                <div class="collaborator">
                    <img src="profile_pics/profile_pic_pink.png">
                </div>
                <div class="collaborator">
                    <img src="profile_pics/profile_pic_blue.png">
                </div>
            </div>
            <div class="control_panel">
                <button type="submit" value="share">Share</button>
            </div>
        </div>
        <div class="columns">
            <div class="project_view_content">
                <h3>Calendar</h3>
                <div class="large_calendar">
                    <div class="week">
                        <div class="day">
                            <h4>27</h4>
                        </div>
                        <div class="day">
                            <h4>28</h4>
                        </div>
                        <div class="day">
                            <h4>1</h4>
                        </div>
                        <div class="day">
                            <h4>2</h4>
                        </div>
                        <div class="day">
                            <h4>3</h4>
                        </div>
                        <div class="day">
                            <h4>4</h4>
                        </div>
                        <div class="day">
                            <h4>5</h4>
                        </div>
                    </div>
                    <div class="week">
                        <div class="day">
                            <h4>6</h4>
                        </div>
                        <div class="day">
                            <h4>7</h4>
                        </div>
                        <div class="day">
                            <h4>8</h4>
                            <div class="event_pink">
                                <p>Праздник</p>
                            </div>
                            <div class="event_blue">
                                <p>Математика</p>
                            </div>
                        </div>
                        <div class="day">
                            <h4>9</h4>
                        </div>
                        <div class="day">
                            <h4>10</h4>
                        </div>
                        <div class="day">
                            <h4>11</h4>
                        </div>
                        <div class="day">
                            <h4>12</h4>
                        </div>
                    </div>
                    <div class="week">
                        <div class="day">
                            <h4>13</h4>
                        </div>
                        <div class="day">
                            <h4>14</h4>
                        </div>
                        <div class="day">
                            <h4>15</h4>
                        </div>
                        <div class="day">
                            <h4>16</h4>
                        </div>
                        <div class="day">
                            <h4>17</h4>
                        </div>
                        <div class="day">
                            <h4>18</h4>
                        </div>
                        <div class="day">
                            <h4>19</h4>
                        </div>
                    </div>
                    <div class="week">
                        <div class="day">
                            <h4>20</h4>
                        </div>
                        <div class="day">
                            <h4>21</h4>
                        </div>
                        <div class="day">
                            <h4>22</h4>
                        </div>
                        <div class="day">
                            <h4>23</h4>
                        </div>
                        <div class="day">
                            <h4>24</h4>
                        </div>
                        <div class="day">
                            <h4>25</h4>
                        </div>
                        <div class="day">
                            <h4>26</h4>
                        </div>
                    </div>
                    <div class="week">
                        <div class="day">
                            <h4>27</h4>
                        </div>
                        <div class="day">
                            <h4>28</h4>
                        </div>
                        <div class="day">
                            <h4>29</h4>
                        </div>
                        <div class="day">
                            <h4>30</h4>
                        </div>
                        <div class="day">
                            <h4>31</h4>
                        </div>
                        <div class="day">
                            <h4>1</h4>
                        </div>
                        <div class="day">
                            <h4>2</h4>
                        </div>
                    </div>
                    <div class="week">
                        <div class="day">
                            <h4>27</h4>
                        </div>
                        <div class="day">
                            <h4>28</h4>
                        </div>
                        <div class="day">
                            <h4>1</h4>
                        </div>
                        <div class="day">
                            <h4>2</h4>
                        </div>
                        <div class="day">
                            <h4>3</h4>
                        </div>
                        <div class="day">
                            <h4>4</h4>
                        </div>
                        <div class="day">
                            <h4>5</h4>
                        </div>
                    </div>
                </div>
                <h3>Tasks</h3>
                <div class="todo_list">
                    <div class="todo">
                        <!--<label><input type="checkbox" name="checkbox" value="value">Some task</label>-->
                        <label class="task_tick"><input type="checkbox" value="value-1"><span>Some task will be placed here</span></label>
                    </div>
                    <div class="todo">
                        <label class="task_tick"><input type="checkbox" value="value-1"><span>Another to-do</span></label>
                    </div>
                    <div class="todo">
                        <label class="task_tick"><input type="checkbox" value="value-1"><span>Other task</span></label>
                    </div>
                    <div class="todo">
                        <label class="task_tick"><input type="checkbox" value="value-1"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span></label>
                    </div>
                </div>
            </div>
            <div class="project_info">
                <div class="project_description">
                    <h3>Project cover</h3>
                    <img src="https://images.unsplash.com/photo-1633596683562-4a47eb4983c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80">
                    <h3>Description</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <h3>Attachments</h3>
                    <div class="project_attachments">
                        <div class="project_attachment">
                            <img src="file_types/pdf.png">
                            <h4>Company finances</h4>
                        </div>
                        <div class="project_attachment">
                            <img src="file_types/psd.png">
                            <h4>Our logo</h4>
                        </div>
                    </div>
                    <h3>Collaborators</h3>
                    <div class="list_of_collaborators">
                        <div class="linar_collaborator">
                            <img src="profile_pics/profile_pic_blue.png">
                            <p>James Gouse</p>
                        </div>
                        <div class="linar_collaborator">
                            <img src="profile_pics/profile_pic_pink.png">
                            <p>Alexis Sears</p>
                        </div>
                        <div class="linar_collaborator">
                            <img src="profile_pics/profile_pic_violet.png">
                            <p>Anna White</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}