<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>VERK | Projects</title>
    <link href="static/style.css" rel="stylesheet" type="text/css" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
    </style>
</head>

<body>
    <aside>
        <div class="account_menu">
            <div class="profile_pic">
                <img src="profile_pics/profile_pic.png">
            </div>
            <div class="greeting">
                <!--<h4>Good morning</h4>-->
                <h3>Billy S.</h3>
            </div>
        </div>
        <div class="page_menu">
            <div class="page_element">
                <div class="icon">
                    <img src="icons/dashboard.png">
                </div>
                <h4><a href="dashboard.html">Dashboard</a></h4>
            </div>
            <div class="page_element">
                <div class="icon">
                    <img src="icons/calendar.png">
                </div>
                <h4><a href="agenda.html">Agenda</a></h4>
            </div>
            <div class="page_element">
                <div class="icon">
                    <img src="icons/tasks.png">
                </div>
                <h4><a href="tasks.html">Tasks</a></h4>
            </div>
            <div class="page_element">
                <div class="icon">
                    <img src="icons/folder.png">
                </div>
                <h4><a href="projects.html">Projects</a></h4>
            </div>
            <div class="page_element">
                <div class="icon">
                    <img src="icons/notifications.png">
                </div>
                <h4><a href="notifications.html">Notifications</a></h4>
            </div>
        </div>
        <div class="projects_menu">
            <div class="projects_menu_header">
                <h3>Projects</h3>
                <div class="icon">
                    <img src="icons/search.png">
                </div>
            </div>
            <div class="project_element">
                <h4>Codding</h4>
                <div class="small_arrow">
                    <img src="icons/arrow.png">
                </div>
            </div>
            <div class="project_element">
                <h4>Design</h4>
                <div class="small_arrow">
                    <img src="icons/arrow.png">
                </div>
            </div>
            <div class="project_element">
                <h4>Marketing</h4>
                <div class="small_arrow">
                    <img src="icons/arrow.png">
                </div>
            </div>
            <div class="project_element">
                <h4>Prototyping</h4>
                <div class="small_arrow">
                    <img src="icons/arrow.png">
                </div>
            </div>
            <div class="project_menu_footer">
            </div>
        </div>
    </aside>

    <div class="viewport">
        <h1>Tasks</h1>
    </div>
    
</body>

</html>